<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApiBaseUrl" value="http://127.0.0.1:8080" />
    <add key="ApiKey" value="" />
    <add key="Model" value="" />
    <add key="Temperature" value="0.7" />
    <add key="MaxTokens" value="4096" />
    <add key="TopP" value="0.9" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>